#version: '3.8'

services:
  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant
    ports:
      - "6333:6333"   
      - "6334:6334"    
    volumes:

      - qdrant-storage:/qdrant/storage
    environment:
      QDRANT__SERVICE__HOST: 0.0.0.0

volumes:
  qdrant-storage:
