*.xlsx
/pdf
/pdfTest
/pdfMotor
/PineCone.txt
/imagesTest
/chunks.json
/images/
/imageExtraction.py
/qdrant/qdrant_storage
/summaryAug.py
/app/public/images/
/getContext.py
*vite.svg
__pycache__/
*react.svg
*temp.jsx
/backend/images
eslint.config.js
pdfFehlerTest/
vite.config.js