/.gradio
/data
/dataTest
/ModellSpezifikationen.xlsx
/modelResults.json
/pdf
/pdfTest
/pdfMotor
/PineCone.txt
/__pycache__
/imagesTest
/chunks.json
/images/
*.xlsx
/imageExtraction.py
/qdrant/qdrant_storage
/summaryAug.py
/app/public/images/
/getContext.py
*vite.svg
/backend/__pycache__
*react.svg
*temp.jsx
/backend/images
eslint.config.js
pdfFehlerTest/
*.json
vite.config.js