#Node / React
dist
node_modules

#Assets / Outputs
images
*react.svg
*vite.svg
pdf
pdfTest
pdfMotor
imagesTest
pdfFehlerTest

#Qdrant
qdrant_storage

#Python
__pycache__
*.pyc
*.pyo
*.pyd
.venv/
venv/

# Logs
*.log

# Environment files
.env
.env.*
.env.*

# Editor
.vscode/
.idea/

# Mac / Windows
.DS_Store
Thumbs.db


*.xlsx
vite.config.js
eslint.config.js